@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$grey-text: hsl(216deg 2.67% 63.33%);
$round-btn-color: hsl(224.21deg 30.16% 87.65%);

* {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  background-color: hsl(225deg 29.41% 86.67%);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.screen-wrapper {
  width: 100%;
  height: 100vh;
  border-radius: 0; // Mobile: no rounding
  box-shadow: none;
  overflow: hidden;

  @media (min-width: 576px) {
    height: 900px;
    max-width: 400px;
    border-radius: 1rem;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.1);
  }
}

.thank-txt {
  font-size: 3.3rem;
}

.info-msg {
  color: $grey-text;
  font-size: 1.1rem;
  font-weight: 500;
}

.product-name {
  font-weight: 600;
}

.price-text {
  color: $grey-text;
  font-weight: 500;
}

.sticky-container {
  width: 100%;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  width: calc(100% + 3rem);
  box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.07);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  .order-btn {
    font-size: 1.1rem !important;
    border: none !important;
    transition: opacity 0.2s;
    background: linear-gradient(
      90deg,
      hsl(209.67deg 90% 60.78%) 0%,
      hsl(210.53deg 77.17% 42.94%) 100%
    );
  
    &:hover {
      opacity: 0.7;
    }
  
    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.2rem hsla(210.53, 77.17%, 42.94%, 0.4);
    }
  }
}

.img-ratio {
  max-width: 4rem;
  height: auto;
}

.round-btn {
  background-color: $round-btn-color;
  border: none !important;
  font-size: 1.1rem !important;
  transition: opacity 0.2s;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &:hover {
    background-color: $round-btn-color;
    opacity: 0.7;
  }

  &:disabled {
    background-color: $round-btn-color;
    opacity: 0.4;
  }
}

.out-of-stock {
  opacity: 0.4;
}

ul {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

ul::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}